extends layout

block content

  body
    <div class="nav">
      <ul>
        <li><a href="/new">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>


    p Welcome to #{title}


